@model IEnumerable<Webshop.UI_MVC.Models.Webshop.Course>

@{
    ViewBag.Title = "Cursussen";
    var count = 0;
}

<h2>Kies een opleiding</h2>
@using (Html.BeginForm())
{
    <div>
        <div align="right">
            @Html.TextBox("SearchString")
            <button title="Zoeken" input="submit" style="background-color: transparent; border: none"><img src="../../magnifying-glass.svg" width="20" height="20" /></button>
        </div>
    </div>
}
@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Maak nieuwe cursus", "Create", "Course")
}
<div class="card-deck">
    <div class="row">
        @foreach (var item in Model)
        {
            var insertRow = count != 0 && count % 6 == 0;
            if (insertRow)
            {
            @:</div>
            @:<div class="row">
            }

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://img.pixers.pics/pho_wat(s3:700/FO/54/86/94/93/700_FO54869493_9a97f2d028a3ad79c6e601ef8ed7c56e.jpg,467,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,247,650,jpg)/fotobehang-pembroke-welsh-corgi-puppy-geisoleerd-op-een-witte-achtergrond.jpg.jpg" class="card-img-top" alt="corgi" width="150" height="200">
                    <div class="card-body">
                        <h5 class="card-title">€@Html.DisplayFor(modelItem => item.Price)</h5>
                        <p class="card-text" style="font-weight: bold;">@Html.DisplayFor(modelItem => item.Name)</p>
                        @if (!User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Buy", "ShoppingCart" , new {id=item.Id, getBool=false})" class="btn btn-primary">
                                <img src="../../shopping-cart(1).svg" width="25" height="25" /> &nbsp;
                                In winkelmandje
                            </a>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Verwijder", "Delete", new { id = item.Id }) |
                            </td>
                        }

                    </div>
                </div>
                <br />
            </div>
            count++;
        }
    </div>
</div>
