@model Webshop.UI_MVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Wachtwoord:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Verander je wachtwoord", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Bekijk je account details</dt>
        <dd>@Html.ActionLink("Account Details", "Details", "User")</dd>
    </dl>
</div>
